.external-link-icon{
  font-size: 8px;
  margin-bottom: 1px;
}

.p-tag {
  margin: 1px !important;
  margin-bottom: 2px !important;
  border: 1px solid #aaa;
  padding: 2px 5px;
  border-radius: 4px;
  margin: 0 2px 5px 0;
  display: inline-block;
  font-weight: normal;
  background-color: #fff;
}

.service-tag {
  margin: 1px !important;
  margin-bottom: 2px !important;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin: 0 2px 5px 0;
  display: inline-block;
  font-weight: normal;
  background-color: #fff;
  
  .tag-protocol {
    padding: 2px 5px;
    background-color: lighten(#B0CBFF, 10%);
    border-right: 1px solid #aaa;
  }

  .tag-transport {
    padding: 2px 5px;
  }
}

.p-block {
  word-wrap: break-word;
  word-break: break-word;
}

